body {  
    background: #1D1F20;
    padding: 10px;
  }
  
  /* canvas {
    border: 1px dotted red;
  }
   */
  .chart-container {
    /* position: relative;
    height: 80vh;
    width: 80vw;
    margin-bottom: 3rem;
    margin-left: 5rem; */
    display: flex;
    justify-content: center;
    height: 80%;
    width: 80%;
    margin-bottom: 3rem;
    margin-left: 5rem;
  }
  @media only screen and (max-width: 425px) {
    .chart-container {
      /* position: relative;
      height: 80vh;
      width: 80vw;
      margin-bottom: 3rem;
      margin-left: 5rem; */
      display: flex;
      justify-content: center;
      height: 80%;
      width: 80%;
      margin-bottom: 3rem;
      margin-left: 1rem;
      margin-right: 10rem;
    }
  }