{% extends "layout.html" %}

{% block head %}
    <title>Contact</title>
    <!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"/>
    <link rel="stylesheet" href="../static/css/style.css">
    <link rel="stylesheet" href="../static/css/contact.css">
    <link rel="stylesheet" href="../static/css/navbar.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous"> -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"/>
        <link rel="stylesheet" href="../static/css/style.css">
        <link rel="stylesheet" href="../static/css/contact.css">
        <link rel="stylesheet" href="../static/css/navbar.css">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
		<link rel="stylesheet" href="../static/css/fonts.css">
		{% endblock %}

{% block body %}
    <!-- <h1>Contact</h1> -->
	<section class="fixed-navbar">
    <nav class="navbar" >
		<div class="container">
	  
		  <div class="navbar-header">
			<button class="navbar-toggler" data-toggle="open-navbar1">
			  <span></span>
			  <span></span>
			  <span></span>
			</button>
            <a class="image"  href="#">
                <img src="../static/img/Daco_1145248.png" width="100" height="42" class="d-inline-block align-top" alt="">
                </a>
			<a href="/">
			  <h4>WV<span>FRM</span></h4>
			</a>
		  </div>
	  
		  <div class="navbar-menu" id="open-navbar1">
			<ul class="navbar-nav">
                <li><a href="/">Home</a></li>
				<li><a href="/tryout">Tryout</a></li>
                <li><a href="/about">About</a></li>
                
                <li class="active"><a href="/contact">Contact</a></li>
			</ul>
		  </div>
		</div>
	  </nav>
    </section>

    

    <main>
		<section class="section-contact">
			<div class="container">
				<h1>Contact the team!</h1>
				<p class="contact-para">Fill out the form below to get in touch with one of our team members.</p>

				<form action="https://api.web3forms.com/submit" method="POST" id="form">
                    <input type="hidden" name="access_key" value="a2303a56-c75e-4f0c-8454-d0724ebdb330" />
                    <input type="checkbox" name="botcheck" id="" style="display: none;" />
					<div class="form-group">
						<label for="firstname">First name*</label>
						<input 
                        autocomplete="off"
							type="text" 
							name="firstname" 
							id="firstname" 
							required 
							class="form-element"
							placeholder="John" />
					</div>
					<div class="form-group">
						<label for="lastname">Last name*</label>
						<input autocomplete="off" type="text" name="lastname" id="lastname" required class="form-element" placeholder="Doe" />
					</div>
					<div class="form-group">
						<label for="email">Email address*</label>
						<input autocomplete="off" type="email" name="email" id="email" required class="form-element" placeholder="john.doe@example.com" />
					</div>
					<div class="form-group">
						<label for="company">Company</label>
						<input autocomplete="off" type="text" name="company" id="company" class="form-element" placeholder="john.doe@example.com" />
					</div>
					<div class="form-group full">
						<label for="message">What are you looking for?</label>
						<textarea name="message" id="message" required class="form-element" placeholder="Enter your message..."></textarea>
					</div>
					<div class="submit-group">
						<input type="submit" value="SEND MESSAGE" />
					</div>
				</form>
			</div>
		</section>
	</main>
    <script src="../static/js/navbar.js"></script>
	<!-- test -->

{% endblock %}